@import "tailwindcss";

/* Global CSS */
:root {
  --background: #ffffff; /* Light theme background */
  --card: #f9f9f9; /* Light theme card color */
  --primary: #000000; /* Light theme primary color */
  --foreground: #333333; /* Light theme text color */
  --border: #ccc; /* Light theme border color */
  --rounded: 5px;
  --text-primary: #000000;
  --text-secondary: #666666;
  --font-size-base: 16px;
}

html,
body {
  height: 100%;
}

body {
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  font-size: var(--font-size-base);
  background-color: var(--background);
}

main {
  border-radius: var(--rounded);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-primary);
  font-family: var(--font-sans), sans-serif;
}

p,
a,
li {
  color: var(--text-secondary);
  font-family: var(--font-sans), sans-serif;
}

.card, option{
  background-color: var(--card);
}

.primary {
  background-color: var(--primary);
}

.secondary {
  background-color: var(--foreground);
}

.icon-bg {
  background-color: var(--background);
}

.active {
  background-color: var(--active);
}

.active-link {
  color: var(--active);
}

.background {
  background-color: var(--background);
}

.my-rounded {
  border-radius: var(--rounded);
}

/* Hide scrollbar by default */
.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Show scrollbar only on hover */
.scrollbar-hover:hover::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-hover:hover::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 4px;
}

.link:hover {
  background-color: var(--background);
}

.link-active {
  background-color: var(--background);
}

/* styles/globals.css or global.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(107, 114, 128, 0.5); /* Tailwind's gray-500 */
  border-radius: 4px;
}
