@import "tailwindcss";

:root {
  --background: #dadada;
  --primary: #fff;
  --foreground: #171717;
  --border: #e5e7eb; /* light gray border */
  --text-primary: #171717;
  --text-secondary: #52525b;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --active: #c21858;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202020e5;
    --primary: #0a0a0a;
    --foreground: #ededed;
    --border: #27272a; /* darker border for dark mode */
    --text-primary: #ededed;
    --text-secondary: #a1a1aa;
    --active: #c21858;
  }
}

html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  font-size: var(--font-size-base);
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: var(--text-primary);
  font-family: var(--font-sans), sans-serif;
}

p,
a,
li {
  color: var(--text-secondary);
  font-family: var(--font-sans), sans-serif;
}

.card {
  background-color: var(--primary);
}

.icon-bg {
  background-color: var(--background);
}

.active {
  background-color: var(--active);
}

.active-link {
  color: var(--active);
}