@import "tailwindcss";

/* Global CSS */
:root {
  /* ------ Backgrounds -------- */
  --body: #ffffff; 
  --buttonbg: #f0f0f0; 
  --cardbg: #f9f9f9; 
  --headerbg: #f0f0f0; 
  --navbg: #f0f0f0;

  /* ---------- Border ----------- */
  --border: #ccc; 
  --radiuse: 5px;
  --border-style: "solid"

  /* ---------- Icons ----------- */
  --default-icon: #000000; 
  --main-icon: #000000; 

  /* --------- Effects ---------- */
  --hover: #e0e0e0; 
  --shadow: rgba(0, 0, 0, 0.1);

  /* --------- Text ------------ */
  --button-text: #000000; 
  --header-text: #000000; 
  --card-text: #000000; 
  --primary-text: #000000; 
  --secondary-text: #666666; 

  /* --------- Typo ------------ */
  --font-sans: "Inter", sans-serif; 
  --font-serif: "Merriweather", serif; 
  --font-size: 16px; 
  --heading-font-size: 24px; 

}

html,
body {
  height: 100%;
}

body {
  color: var(--card-text);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  font-size: var(--font-size);
  background-color: var(--body);
  border-color: var(--border);
}

.my-font{
  font-family: var(--font-sans), sans-serif;
  font-size: var(--font-size);
}

.heading{
  font-family: var(--font-serif), serif;
  font-size: var(--heading-font-size);
  color: var(--header-text);
}

.active-text {
  color: var(--primary-text);
}

.buttonbg{
  background-color: var(--buttonbg);
}

main {
  border-radius: var(--radiuse);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--card-text);
  font-family: var(--font-sans), sans-serif;
}

p,
a,
li {
  color: var(--text-secondary);
  font-family: var(--font-sans), sans-serif;
}

.nav{
  background-color: var(--navbg);
}

.card, option{
  background-color: var(--cardbg);
}

.primary {
  background-color: var(--primary);
}

.secondary {
  background-color: var(--foreground);
}

.icon-bg {
  background-color: var(--background);
}

.active {
  background-color: var(--active);
}

.active-link {
  color: var(--active);
}

.background {
  background-color: var(--background);
}

.my-rounded {
  border-radius: var(--radiuse);
}

/* Hide scrollbar by default */
.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Show scrollbar only on hover */
.scrollbar-hover:hover::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-hover:hover::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 4px;
}

.link:hover {
  background-color: var(--background);
}

.link-active {
  background-color: var(--background);
}

/* styles/globals.css or global.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(107, 114, 128, 0.5); /* Tailwind's gray-500 */
  border-radius: 4px;
}

.my-icon{
  color: var(--default-icon);
}